@use "./global/app" as *;

html,
body {
  user-select: none;
}

#world {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  opacity: 0;
  canvas {
    user-select: none;
  }
  body[data-loaded="1"] & {
    opacity: 1;
    transition: 1s ease opacity;
  }
}

.lTitle {
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 100;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
  @include sp_w() {
    top: 16px;
    left: 16px;
  }
}

:root {
  // --green: #4BD865;
  --ui-toggle1: #dad6ff;
  --ui-toggle2: #3e4bff;
}

$ease: $easeInOutExpo;
$duration: 0.4s;

.cBtnToggle {
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 10;
  width: 75px;
  height: 32px;
  opacity: 0;
  @include sp_w() {
    top: 16px;
    right: 16px;
    width: 75px * 0.8;
    height: 32px * 0.8;
  }
  body[data-loaded="1"] & {
    pointer-events: initial;
    user-select: initial;
    transition: 1s $easeout opacity;
    opacity: 1;
  }
}
.cBtnToggle__input {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.cBtnToggle__label {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: var(--ui-toggle1);
  display: inline-block;
  border-radius: 24px;
  box-sizing: border-box;
  transition: $duration $ease background;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    z-index: 2;
    background: var(--ui-toggle2);
    transition:
      $duration $easeInOutExpo transform,
      $duration $ease background;
    transform: translate(0, 0);
    @include sp_w() {
      top: 4px * 0.8;
      left: 4px * 0.8;
      width: 24px * 0.8;
      height: 24px * 0.8;
    }
  }
}
.cBtnToggle__input:checked + .cBtnToggle__label {
  background: var(--ui-toggle2);
}
.cBtnToggle__input:checked + .cBtnToggle__label:before {
  transform: translate(40px, 0);
  background: var(--ui-toggle1);
  @include sp_w() {
    transform: translate(40px * 0.8, 0);
  }
}
