---
import "../styles/home.scss";
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="lTitle">Pokémon Card ✨</h1>
	<div id="world"></div>
</Layout>

<script src="../scripts/pages/home.js"></script>
