---
import "../styles/home.scss";
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="lTitle">Pokémon Card ✨</h1>
	<div id="world"></div>
	<div class="cBtnToggle">
		<input id="jsBtnToggle" class="cBtnToggle__input" type="checkbox" />
		<label for="jsBtnToggle" class="cBtnToggle__label"/>
	</div>
</Layout>

<script src="../scripts/pages/home.js"></script>
